<%- include('../_partials/header') %>

    <main class="credits-page">
        <section id="credits-container">
            <form action="/credits/<%= credit._id + '/' + '?_method=PUT'%>" method='post'>
                <label>Action:
                    <select id="action" name="action">
                        <option value="played" <%= credit.action === 'played' && 'selected' %>>played</option>
                        <option value="wrote" <%= credit.action === 'wrote' && 'selected' %>>wrote</option>
                        <option value="produced" <%= credit.action === 'produced' && 'selected' %>>produced</option>
                    </select>
                </label>
                <label>Instrument:
                    <input type="text" name="instrument" value="<%= credit.instrument %>" id="autocomplete-input" class="autocomplete-instruments">
                        <label for="autocomplete-input">Start typing...</label>
                </label>
                <label>Artist:
                    <input type="text" name="artist" value="<%= credit.artist %>">
                </label>
                <input type="submit" value="Edit">
            </form>
        </section>
        <hr>
        
    </main>
    <%- include('../_partials/footer')%>