<%- include('../_partials/header') %>
<ul id="slide-out" class="side-nav fixed">
    <li>
      <% if (user.picture) { %>
        <li class="center-align"><img class="profile-pic circle" src="<%= user.picture %>"></li>
      <% } else { %>
        <li class="center-align"><img src="/images/person-placeholder.png" alt="profile-pic"></li>
     <% } %>
    </li>
    <li class="center-align"><h4><%= user.fullName %></h4></li>
</ul>
<div class="navbar-fixed valign-wrapper">
    <nav>
        <a href="/" class="brand-logo">Music DB</a>
        <div class="nav-wrapper right">
            <ul class=“hide-on-med-and-down right”>
                <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Log Out</a></li>
            </ul>
        </div>
    </nav>
</div>
<main class="credits-page">
    <section id="credits-container">
        <% if (user.credits) { %>
            <h4><%= user.firstName %>'s Credits <span class="chip"><%= user.credits.length %></span></h4>
            <hr>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Credit Type</th>
                        <th>Instrument</th>
                        <th>Artist</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% user.credits.forEach(function(credit) { %>
                    <tr>
                        <td><%= credit.action %></td>
                        <td><%= credit.instrument %></td>
                        <td><%= credit.artist %></td>
                        <td>
                            <a href="/credits/<%= credit._id %>/edit">
                                <button class="btn-floating btn-small waves-effect waves-light #546e7a blue-grey darken-1 editCredit">
                                    <i class="material-icons left">edit</i>
                                </button>
                            </a>
                            <button class="btn-floating btn-small waves-effect waves-light red deleteCredit" onclick="deleteCredit('<%= credit._id %>')">
                                <i class="material-icons left">delete</i>
                            </button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h4>Hmm... no credits yet.</h4>
        <% } %>
    </section>
    <br>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons left">library_add</i>Add A Credit</a>
    <div id="modal1" class="modal card black-grey darken-1">
        <div class="modal-content #424242 grey darken-3">
            <h4>Add A Credit</h4>
            <div id="modal-credit" class="card white lighten-2">
                <div class="row col s12">
                    <div class="col s4 left-align"><p class="modal-content">What did you do?</p></div>
                    <div class="input-field col s3 left-align">
                        <select id="action">
                            <option value="" disabled selected>Choose one...</option>
                            <option value="played">played</option>
                            <option value="wrote">wrote</option>
                            <option value="produced">produced</option>
                        </select>
                    </div>
                    <div class="input-field col s5 left-align">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete-instruments">
                        <label for="autocomplete-input">Start typing...</label>
                    </div>
                </div>
                <div class="row col s12 valign-wrapper">
                    <div class="col s3 left-align"><p class="modal-content">Who with?</p></div>
                    <div class="input-field col s9 left-align">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete search-spotify" oninput="searchSpotify()">
                        <label for="autocomplete-input">Start typing... (Powered by Spotify)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <a id="add-credit" class="modal-action modal-close waves-effect waves-light btn mdb-submit right">Submit</a>
            </div>
        </div>
    </div>
</main>
<%- include('../_partials/footer')%>